* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: rgb(173, 199, 151);
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background-color: rgb(146, 232, 86);
  height: 550px;
  margin-top: 100px;
  overflow: auto;
}

.done {
  opacity: 0.5;
}
.done-btn {
  width: auto;
  height: 15px;
  margin-top: 2px;
  margin-left: 5px;
  border: 1px solid rgb(1, 1, 18);
  background-color: rgb(89, 233, 32);
  border-radius: 10px;
}
.delete-btn {
  width: auto;
  height: 15px;
  margin-top: 2px;
  margin-left: 5px;
  border: 1px solid rgb(21, 22, 21);
  background-color: rgb(195, 169, 169);
  color: rgb(63, 2, 245);
  border-radius: 10px;
}
.form {
  display: flex;
  text-align: center;
}
.input {
  width: 250px;
  margin-top: 20px;
  height: 35px;
  margin-left: 100px;
  border: 1px solid rgb(127, 220, 117);
  border-radius: 20px;
  background-color: rgb(163, 193, 142);
  font-size: 20px;
}

.add-button {
  width: 70px;
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid rgb(21, 22, 21);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 20px;
}
.sanagich {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 20px;
  color: blue;
}
.matn {
  margin-left: 20px;
}
